.Home-header {
    background-color: #5576B9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.colorBackground {
    background-color: #5576B9;
    color: white;
}

body {
    height: 100%;
}
